name: Validate with hassfest

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v4"
        - name: Validate with hassfest
          run: |
            docker run --rm \
              -v ${{ github.workspace }}://github/workspace \
              ghcr.io/home-assistant/hassfest \
              --core-path=/usr/src/homeassistant \
              --integration-path //github/workspace/custom_components/mazda_cs
